body {
    background-color:#f8f8f8;
    padding:0;
    margin:0;
}

#wrapper{
    background-color:#dddddd;
    margin:0;
}

#header{
    padding-top:13;
    background-color:#f8f8f8;
    text-align:center;
    margin:-5;
}

#contents{
    margin:0;
    padding:0;
    background-color:#f8f8f8;
}

#footer{
    margin:0;
    padding:0;
    background-color:#eee8aa;
}

p{
    border:solid;
    margin:0;
    padding:10px;
}